<div class="col-md-8 col-md-offset-2">
    <div style="position: relative;">
        <h1 style="font-size:50px;animation: fadein 3s;text-align:center">Are you safe for real? <strong style="animation: fadein 5s;">Think again</strong>.</h1>
        <p style="font-size:20px;animation: fadein 3s;text-align:center">Search for the place where you're living, or where you're going to be travelling to and find out what are your chances.</p>
    </div>
    <p style="font-size:15px;animation: fadein 3s;text-align:center;">made with <span style="color:red">&hearts;</span> even though, ugh..</p>
</div>