@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.completer-input{
    width:100%;
}

.logoAndInput {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.backgroundcontainer{
    background-image: url("/src/assets/images/romania.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -2px 28px 0px rgba(0,0,0,0.75);

}
