<div class="col-md-8 col-md-offset-2">
    <p style="margin-top:15px;font-size:50px">{{country?.country}}
        
    </p>
    <ul class="list-group">
        <li (click)="requestGraph(aspect.type)"*ngFor="let aspect of aspects" style="border-radius:0px;border-collapse:collapse" class="col-md-6 list-group-item justify-content-between aspectcell">
            {{aspect?.label}}
            <span *ngIf="aspect.features.length == 0 && aspect.type=='terrorist_incidents'" style="float:right" class="badge badge-default badge-pill">0</span>
            <span *ngIf="aspect.features.length == 0 && aspect.type!='terrorist_incidents'" style="float:right" class="badge badge-default badge-pill">unknown</span>
            <span *ngFor="let feature of aspect.features">
                <span *ngIf="feature.title=='percentage'" style="float:right;margin-left:5px"class="badge badge-default badge-pill">{{feature.value}} %</span>
            <span *ngIf="feature.title!='percentage'" style="float:right" class="badge badge-default badge-pill"> {{feature.title?.toUpperCase() }} : {{feature.value}}</span>
            </span>
        </li>
    </ul>
</div>